* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*Custom Properties*/

:root {
    --font-fam: 'Source Sans Pro', 'Sans-Serif';

    --font-weight: 300;
    --font-bold: 900;

    --clr-light:rgb(177, 221, 241);
    --clr-dark: rgb(53, 55, 61);
    --clr-accent:lightblue;

    --fontsize-h1: 3rem;
    --fontsize-h2: 2.25rem;
    --fontsize-h3: 1.25rem;
}

.header {
    background-color: var(--clr-dark);
   padding:10px 0;
}

.header h1 {
    display: inline-block;
    font-size: var(--fontsize-h1);
    font-weight: var(--font-weight);
    font-family: var(--font-fam);
    background-color: var(--clr-accent);
    width: 400px;
    padding-left: 100px;
}

.header nav {
    padding-top: 20px;
    margin-right: 20px;
    float: right;
    font-family: var(--font-fam);
    font-size: 20px;
}

.header nav ul {
    list-style: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 10px;
    border-bottom: 5px solid var(--clr-accent);
    
}

.stripes {
background-image: url(../images/Striping.png);
width: 100%;
height: 200px;

}

body {
 background-color: white;
 color: var(--clr-dark);
 margin: 0;
 font-family: var(--font-fam);
 line-height: 1.5;
}


.info {
    border-right: 5px solid var(--clr-dark);
    padding-bottom: 75px;
    font-weight: var(--font-bold);
    width: 125px;
    position: relative;
    left: 200px;
}

 .about-me h2 {
    display: inline-block;
    border-right: 5px solid var(--clr-dark);
    padding-right: 10px;
    position: relative;
    left: 250px;
 }

 .about-me article p {
   display: inline-block;
   position: relative;
   left: 5

 }
h2 {
    font-size: var(--fontsize-h2);
}


.work {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    
}

.work img {
    float: right;
    border: 4px solid var(--clr-accent);
}

.box {
display: flex;
flex-direction: column;
justify-content: flex-end;
}



.article img {
 width: 300px;
 border: 5px solid var(--clr-accent);
 height: 100px;
}




a {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    color: var(--clr-accent);
    text-decoration: none;
}

.content {
    background-color: var(--clr-accent);
    width: 175px; 
    height: fit-content;
    margin: 3px;
}



.social-list {
 
}